<h2>
  Editing
  <%= @user.name %>
</h2>
<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </div>

  <%= f.submit %>

<% end %>
