<% @page_title = "UserAuth | Signup" %>
<div class="form-group">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> Username:</br> <%= f.text_field :name, class: "form-control" %> </p>
    <p> Email:</br> <%= f.text_field :email, class: "form-control" %> </p>
    <p> Password:</br> <%= f.password_field :password, class: "form-control" %></p>
    <p> Password Confirmation:</br> <%= f.password_field :password_confirmation, class: "form-control" %></p>

    <%= f.submit :Signup, class: "btn btn-primary" %>

  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <p><%=  flash[:notice] = "Form is invalid" %></p>
    <p><%=  flash[:color] = "invalid" %></p>

    <% end %>
    </ul>
  <% end %>
</div>


