<% if @current_user.categories.present? %>
    <div class="row">
      <% @current_user.categories.each_with_index do |category, index| %>
      <% if (index % 3) == 0 && index > 0 %>
    </div><div class="row">
      <% end %>
      <div class="col-md-4">
        <div class="task-group well well-lg">
         <div class="colour">
    <!-- <h4>Category</h4> -->
    <h5><%= link_to(category.heading, category) %><p></p><%= link_to( 'Edit', edit_category_path(category.id)) %>
      <%= link_to('Delete', category, :method => :delete, :data => { :confirm => 'Are you sure?'}) %></h5>
    <!-- <h4>Tasks</h4> -->
    <% category.tasks.each do |task| %>
    <p><%= task.paideuo %><br> Due: <%= task.datetime.strftime('%I:%M %p %B %d, %Y') if task.datetime %><br>
    <%= task.paideuo %> <%= link_to('Edit', edit_category_task_path(category.id, task.id)) %>
    <%= link_to('Delete', category_task_path(category.id,task.id), :method => :delete, :data => {:confirm => 'Are you sure? Dont give up!'}) %></p>
    <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% else %>
    <div class="container">
      <div class="home-page-words">
      <h1>Paideuó</h1>
        <p>To start using Paideuó create a category and tasks in areas where you wish to grow or jobs you want completed. As you create the task add in an accountability partners email. If you do not complete the task on time they will receive and email and follow up on you. So remember to click task completed when you've finished.</p>
      </div>
    </div>
<% end %>
