<h2>Your Categories and tasks:</h2>

<h2>Tasks in category</h2>
<ul>
  <li><% @current_user.categories.each do |category| %></li>
  <br>
    <li><%= category.heading %></li>
    <% category.tasks.each do |task| %>
    <li>Task:   <%= task.paideuo %></li>
    <li>Date Time:   <%= task.datetime %></li>
    <li>Partner:   <%= task.partner_id %></li>
    <br>
</ul>
    <% end %>
  <% end %>


<h2>Add task to this cateogry</h2>

<%= link_to('Add Task', new_category_task_path(@category.id))  %>


