<h2>Your Current Categories:</h2>

  <%= @category.heading %>
  <% @category.tasks.each do |task| %>

  <p>
      <%= task.paideuo %> Due: <%= task.datetime.strftime('%I:%M %p %B %d, %Y') if task.datetime %> <%= "ago" if task.datetime && task.datetime < Time.now  %> <%= link_to('edit', edit_category_task_path(@category.id, task.id)) %>
      <%= link_to('delete', category_task_path(@category.id,task.id), :method => :delete, :data => {:confirm => 'Are you sure? Dont give up!'}) %>

      <% end %>
  </p>

<h2>Add task to this cateogry</h2>

<%= link_to('Add Task', new_category_task_path(@category.id))  %>


